.card-main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-radius: 20px;
  transition: 0.6s;
  background: transparent;
  border: none;
}
.card-main:hover {
  cursor: pointer;
  transform: scale(1.05);
}
/* border */
.card-main::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: -2.5px;
  padding: 2px;
  border-radius: 20px;
  background: linear-gradient(
    to right,
    var(--blue),
    var(--blue),
    var(--light-blue),
    var(--blue),
    var(--blue)
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
/* border effect */
.card-main:hover::before {
  padding: 2.5px;
  background: linear-gradient(
    to right,
    var(--blue),
    var(--light-blue),
    var(--blue)
  );
}
/* image effect*/
.card-main:hover .card-img {
  transform: scale(1.07);
  transition: 2s;
}

.card-img_ctn {
  overflow: hidden;
  border-radius: 20px;
}

.card-img {
  border-radius: 20px 20px 0 0;
}

.card-title {
  color: var(--light-blue);
}
