:root {
  --blue: #001f3f;
  --light-blue: #007bff;
  --white: #f2f2f2;
  --vibrant-coral: #ff6f61;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: Karla, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--white);

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--blue);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: karla, sans-serif;
}

body {
  color: var(--white);
  background-color: var(--blue);
}

/* a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
}

body {
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
}
button:hover {
} */
